.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #000000;
}

.navbar-logo h2 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    font-weight: 400;
}

.navbar-link:hover {
    color: #026773;
}

.navbar-logo img {
    height: 40px;
}